.Appf{
        display:flex;
        flex-direction: row;
        background: linear-gradient(135deg,#feda75,#fa7e1e, #d62976,#c988e3,#9ba3ff);
        background-attachment: fixed;
        height: 100vh;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:100%;
        width:100%;
}
.fcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 15px;
  }
  
.fcontainer img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 100ms ease-out;
  }
  
.fcontainer img:hover {
    transform: scale(1.04);
  }